*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 15pt;
}
.clear{
	clear: both;
}
.container{
	width: 80%;
	margin: 10px auto;
	background: #F9F9F9;
	
}
a{
	text-decoration: none;
	color: #4A4945;
}
a:hover{
	opacity: 0.8;
}
body{
	background: url(img/back.jpg);
}
video{
	width: 400px;
	height: 300px;
}
/*HEADER*/
header{
	padding: 3px;
}
.logo{
	display: block;
	width: 40%;
	float: left;
}
.logo img{
	width: 120px;
}
.sh{
	font-size: 22pt;
	font-weight: bold;
	color: #40AC24;
	position: relative;
	bottom: 30px;
	right: 25px;
}
.menu{
	display: block;
	width: 60%;
	float: right;
}
.topmenu{
	list-style-type: none;
  	text-align: center;
}
.topmenu > li {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 40px;
}
.topmenu > li:last-child {
  margin-right: 0;
}
.topmenu a {
  display: block;
  padding: 5px;
  font-weight: bold;
}
/*MAIN*/
main{
	margin: 50px 0;
	padding: 15px;
}
main p{
	text-align: justify;
}
.tractor{
	text-align: center;
}
.tractor img{
	width: 500px;
}
h1,h2,h3,h4,h5,h6{
	font-style: italic;
	color: #3E3A37;
	font-family: "Times New Roman", sans-serif;
	margin-bottom: 15px;
	margin-left: 10px;
}
.egipet{
	float: left;
	padding: 5px;
}
.calendar{
	float: right;
	padding: 5px;
}
.filip{
	float: left;
	padding: 5px;
}
.shved{
	float: right;
	padding: 5px;
}
.indon{
	float: right;
	padding: 5px;
}
table, th, td{
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
form{
	text-align: center;
	margin: 0 auto;
}
button{
	padding: 7px;
	background-color: #CCD941;
}
button:hover{
	opacity: 0.8;
}
/*FOOTER*/
.author{
	text-align: center;
	font-size: 13pt;
	color: #3E3D39;
	font-weight: bold;
	padding: 10px;
	background: #CCD941;
	border-top: 1px solid #3E3D39;
}